
@{
    ViewBag.Title = "Index";
}

<h2> Index</h2>


@Html.ActionLink("Go To Mens Home", "Index", "Home", new { area = "Mens" }, null)
@Html.ActionLink("Go To Womens Home", "Index", "Home", new { area = "Womens" }, null)

