@model HTMLHelpersWithMVC.Models.UserModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.EmployeeName)
        @Html.TextBoxFor(m => m.EmployeeName)
    </div>
    <br />
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password)
    </div>
    <input type="submit" value="Submit"/>
}
